name: Daily News Push

on:
  schedule:
    # 北京事件8点
    # - cron: '0 0 * * *'
    # 北京事件18点
    - cron: '0 22 * * *'

  workflow_dispatch: {}

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: python -m pip install --upgrade pip && pip install -r requirements.txt

      - name: Run news push
        env:
          TIAN_API_KEY: ${{ secrets.TIAN_API_KEY }}
          BARK_URL: ${{ secrets.BARK_URL }}
        run: python main.py